.mhg-service-card {
    display: flex;
    flex-direction: column;
    background-color: var(--mhg-card-background-color);
    border-radius: 16px;
    padding: 20px;
    padding-top: 10px;
    gap: 10px;
    min-width: 0;
}

.mhg-service-card-title h2{
    display: flex;
    justify-content: center;
    font-family: "Anton";
    color: var(--mhg-font-secondary-color);
    letter-spacing: 3px;
    font-weight: 450;
    font-size: 18px;
}

.mhg-service-card-img {
    display: flex;
    width: 100%;
    min-width: 0;
}