.faded {
    position: relative;
    display: inline-block;
    color: var(--mhg-background-primary-color);
}

.faded::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: separate;
}

.faded::after {
    box-shadow: inset 0 0 2em 2.5em;
}