#hero-section {
    padding: 30px 0;
    text-align: center;
    margin: 0 auto;
    gap: 20px
}

#hero-left-container {
    width: 100%;
}

#hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}

#hero-text p {
    line-height: 250%;
}

#hero-right-container {
    width: 100%;
    max-width: 100%;
}

#hero-image {
    max-width: 100%;
}

@media (min-width: 576px) {

    #hero-text p {
        line-height: 250%;
    }

    #hero-text {
        justify-content: space-between;
        max-width: 70%;
        height: 100%;
    }

    #hero-right-container {
        max-width: 50%;
    }
    
}

@media (min-width: 1000px) {
    #hero-text {
        max-width: 70%;
    }
}