.mhg-info-item {
    display: flex;
}

.mhg-info-icon {
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.mhg-info-text-container div{
    color: var(--mhg-font-tertiary-color);
}

.mhg-info-text {
    font-size: 14px;
}

.mhg-info-title {
    font-size: 16px;
    font-weight: 700;
}