@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --mhg-background-primary-color: #262626;
  --mhg-background-secondary-color: #050505d5;
  --mhg-background-tertiary-color: #D7D3D3;

  --mhg-card-background-color: #191919;
  --mhg-card-border-color: #F50000;

  --mhg-btn-primary: #FFC301;
  --mhg-btn-secondary: #F50000;

  --mhg-font-primary-color: #F50000;
  --mhg-font-secondary-color: #FFC301;
  --mhg-font-tertiary-color: #fff;
  --mhg-font-placeholder-color: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--mhg-background-primary-color);
}

main {
  padding: 0 20px;
}

/*-------------------------------------------------*/
/* Estilos genéricos */


.mhg-container {
  display: flex;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.mhg-mb20 {
  margin-bottom: 20px;
}

.mhg-mt20 {
  margin-top: 20px;
}

/*-----------------------------------*/
/*Header*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.mhg-menu-item div {
  font-family: "Anton";
  color: var(--mhg-font-secondary-color);
  font-size: 20px;
  transition: 0.3s;
}

.mhg-menu-item div:hover {
  color: red;
}


/*------------------------------------------*/
/*Section*/

.mhg-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  gap: 20px;
}

.mhg-section-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

@media (min-width: 576px) {
  .mhg-dual-column.mhg-section-container {
    flex-direction: row !important;
    gap: 0 !important;
  }

  .mhg-section-btn-container {
    flex-direction: row;
    gap: 20px;
  }
}

.mhg-section-title {
  font-family: "Anton";
  letter-spacing: 3px;
  font-weight: 500;
  color: var(--mhg-font-primary-color);
  font-size: 24px;
}

.title-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mhg-section-text, .mhg-section-text p {
  font-family: "Roboto";
  line-height: 1.7em;
  color: var(--mhg-font-tertiary-color);
  font-size: 16px;
  margin-bottom: 10px;
}

.mhg-dual-column-left-container {
  width: 100%;
}

.mhg-dual-column-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.mhg-dual-column-text p {
  line-height: 250%;
}

.mhg-dual-column-right-container {
  width: 100%;
  max-width: 100%;
}


@media (min-width: 1000px) {
  .mhg-dual-column-text {
    max-width: 70%;
  }
}

@media (min-width: 576px) {
  .mhg-section-title {
    font-size: 28px;
  }

  .mhg-dual-column .mhg-section-title {
    text-align: left;
  }

  .mhg-dual-column .mhg-section-text {
    text-align: left;
  }

  .mhg-dual-column-text p {
    line-height: 250%;
  }

  .mhg-dual-column-text {
    justify-content: space-between;
    max-width: 70%;
    height: 100%;
  }

  .mhg-dual-column-right-container {
    max-width: 50%;
  }
}

/* Service Card */
/*----------------------------------------*/
.mhg-service-card {
  display: flex;
  flex-direction: column;
  background-color: var(--mhg-card-background-color);
  border-radius: 16px;
  padding: 20px;
  padding-top: 10px;
  gap: 10px;
  min-width: 0;
}

.mhg-service-card-title h2 {
  display: flex;
  justify-content: center;
  font-family: "Anton";
  color: var(--mhg-font-secondary-color);
  letter-spacing: 3px;
  font-weight: 450;
  font-size: 18px;
}

.mhg-service-card-img {
  display: flex;
  width: 100%;
  min-width: 0;
}

/* Footer */
/*----------------------------------------*/
footer {
  padding: 0 20px;
}

.mhg-footer-content {
  font-size: 12px;
  color: var(--mhg-font-tertiary-color);
  width: 100%;
}

.mhg-footer-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 576px) {
  .mhg-footer-sub-container {
    flex-direction: row;
  }
}